<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
          integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn"
          crossorigin="anonymous"> <meta charset="UTF-8">
    <title>Admin panel</title>
</head>
<body>
<header>
    <div class="container-fluid" style="padding: 0">
        <div class="row">
            <div class="col-12">
                <nav class="navbar navbar-expand-md navbar-dark bg-dark" style="padding-top: 10px; padding-bottom: 10px">
                    <div class="collapse navbar-collapse">
                        <ul class="navbar-nav mr-auto">
                            <a class="navbar-brand font-weight-bold" id="headerUsername"></a>
                            <a class="navbar-brand">with roles: </a>
                            <a class="navbar-brand" id="headerRoles"></a>
                        </ul>
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link text-right" href="/logout">Logout</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>
<div class="container-fluid">
    <div class="row">
        <div class="col-2" style="padding: 20px 0 0;">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#adminPanel">Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#userPanel">User</a>
                </li>
            </ul>
        </div>
        <div class="col-10 bg-light">
            <div class="tab-content" style="padding-top: 20px; height: 100vh">
                <div class="tab-pane fade show active" id="adminPanel">
                    <h2>Admin Panel</h2>
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" id="allUsersTable" href="#allUsers">Users table</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " data-toggle="tab" href="#newUser">New User</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade active show" id="allUsers">
                            <div class="card">
                                <h5 class="card-header">All Users</h5>
                                <div class="card-body text-center">
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Name</th>
                                            <th>Last Name</th>
                                            <th>Age</th>
                                            <th>Username</th>
                                            <th>Role</th>
                                            <th>Edit</th>
                                            <th>Delete</th>
                                        </tr>
                                        </thead>
                                        <tbody id="tbodyAllUsersTable">
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="newUser">
                            <div class="form group">
                                <div class="control-group required">
                                    <div class="card">
                                        <h5 class="card-header">Add new user</h5>
                                        <div class="card-body text-center">
                                            <div class="form-justify-content-center mx-auto col-3">
                                                <form id="formNewUser" name="formNewUser">
                                                    <p>
                                                        <label class="container-fluid"
                                                               for="newUserName"><strong>Name</strong>
                                                            <input class="form-control" type="text" name="name"
                                                                   id="newUserName"/>
                                                        </label>
                                                    </p>
                                                    <p>
                                                        <label class="container-fluid" for="newUserLastName"><strong>Last
                                                            name</strong>
                                                            <input class="form-control" type="text" name="lastName"
                                                                   id="newUserLastName"/>
                                                        </label>
                                                    </p>
                                                    <p>
                                                        <label class="container-fluid"
                                                               for="newUserAge"><strong>Age</strong>
                                                            <input class="form-control" type="number" name="age"
                                                                   id="newUserAge"/>
                                                        </label>
                                                    </p>
                                                    <p>
                                                        <label class="container-fluid"
                                                               for="newUserUsername"><strong>Username</strong>
                                                            <input class="form-control" type="text" name="username"
                                                                   id="newUserUsername"/>
                                                        </label>
                                                    </p>
                                                    <p>
                                                        <label class="container-fluid" for="newUserPassword"><strong>Password</strong>
                                                            <input class="form-control" type="password" name="password"
                                                                   required minlength="3"
                                                                   id="newUserPassword"/>
                                                        </label>
                                                    </p>
                                                    <label class="container-fluid"
                                                           for="newUserRoles"><strong>Role</strong>
                                                        <select id="newUserRoles" class="form-control" name="roles"
                                                                multiple size="2">
                                                        </select>
                                                    </label>
                                                    <button type="submit" id="newUserButton" class="btn btn-success">Add new user
                                                    </button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="userPanel">
                    <h2>User information-page</h2>
                    <div class="card">
                        <h5 class="card-header">About user</h5>
                        <div class="card-body text-center">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Last Name</th>
                                    <th>Age</th>
                                    <th>Username</th>
                                    <th>Role</th>
                                </tr>
                                </thead>
                                <tbody id="userPanelBody">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="delete" tabindex="-1" role="dialog"
     aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form id="formDeleteUser">
                <div class="modal-header">
                    <h5 class="modal-title">Delete user</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-center">
                    <div class="form-group required">
                        <div class="controls">
                            <p>
                                <label for="idDeleteUser"><strong>ID</strong>
                                    <input class="form-control" type="number" name="id" id="idDeleteUser" disabled>
                                </label>
                            </p>
                            <p>
                                <label for="nameDeleteUser"><strong>Name</strong>
                                    <input class="form-control" type="text" name="name" id="nameDeleteUser"
                                           disabled>
                                </label>
                            </p>
                            <p>
                                <label for="lastNameDeleteUser"><strong>Last Name</strong>
                                    <input class="form-control" type="text" name="lastName" id="lastNameDeleteUser"
                                           disabled>
                                </label>
                            </p>

                            <p>
                                <label for="ageDeleteUser"><strong>Age</strong>
                                    <input class="form-control" type="number" name="age" id="ageDeleteUser"
                                           disabled>
                                </label>
                            </p>

                            <p>
                                <label for="usernameDeleteUser"><strong>Username</strong>
                                    <input class="form-control" type="text" name="username" id="usernameDeleteUser"
                                           disabled>
                                </label>
                            </p>
                            <label class="container-fluid col-6" for="rolesDeleteUser"><strong>Role</strong>
                                <select class="form-control" id="rolesDeleteUser" name="roles" multiple size="2"
                                        disabled>
                                </select>
                            </label>
                        </div>
                        <div class="modal-footer">
                            <button type="button" id="deleteFormCloseButton" class="btn btn-secondary"
                                    data-dismiss="modal">Close
                            </button>
                            <button type="submit" class="btn btn-danger btn btn-primary">Delete</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="edit" tabindex="-1" role="dialog"
     aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form id="formEditUser">
                <div class="modal-header">
                    <h5 class="modal-title">Edit user</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-center">
                    <div class="form-group required">
                        <div class="controls">
                            <p>
                                <label for="idEditUser"><strong>ID</strong>
                                    <input class="form-control" type="number" name="id" id="idEditUser" disabled/>
                                </label>
                            </p>
                            <p>
                                <label for="nameEditUser"><strong>Name</strong>
                                    <input class="form-control" type="text" name="name" id="nameEditUser"/>
                                </label>
                            </p>
                            <p>
                                <label for="lastNameEditUser"><strong>Last Name</strong>
                                    <input class="form-control" type="text" name="lastName" id="lastNameEditUser"/>
                                </label>
                            </p>

                            <p>
                                <label for="ageEditUser"><strong>Age</strong>
                                    <input class="form-control" type="number" name="age" id="ageEditUser"/>
                                </label>
                            </p>

                            <p>
                                <label for="usernameEditUser"><strong>Username</strong>
                                    <input class="form-control" type="text" name="username" id="usernameEditUser"/>
                                </label>
                            </p>
                            <p>
                                <label for="passwordEditUser"><strong>Password</strong>
                                    <input class="form-control" type="password" name="password" id="passwordEditUser"
                                           required minlength="3"/>
                                </label>
                            </p>
                            <label class="container-fluid col-6" for="rolesEditUser"><strong>Role</strong>
                                <select class="form-control" id="rolesEditUser" name="roles" multiple size="2">
                                </select>
                            </label>
                            <h1></h1>
                        </div>
                        <div class="modal-footer">
                            <button type="button" id="editFormCloseButton" class="btn btn-secondary"
                                    data-dismiss="modal">Close
                            </button>
                            <button type="submit" class="btn btn-primary">Edit</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
        crossorigin="anonymous"></script>

<script type="text/javascript" src="/allUsers.js"></script>
<script type="text/javascript" src="/userInfo.js"></script>
<script type="text/javascript" src="/createNewUser.js"></script>
<script type="text/javascript" src="/deleteModalInfo.js"></script>
<script type="text/javascript" src="/deleteUser.js"></script>
<script type="text/javascript" src="/updateModalInfo.js"></script>
<script type="text/javascript" src="/updateUser.js"></script>
</body>
</html>